@model List<CryptoViewModel>

<table class="table">
    <thead>
        <tr>
            <th class="text-left">Ticker</th>
            <th>Currency</th>
            <th class="text-center">Num Of Coins</th>
            <th class="text-center">Current Value</th>
            <th class="text-center">Total Value</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td class="text-left">@e.Currency.Ticker</td>
                <td>@e.Currency.Name</td>
                <td class="text-center">@e.TotalNumOfCoins</td>
                <td class="text-center">@e.CurrentValue</td>
                <td class="text-center">@e.TotalValue</td>
                <td class="text-center">
                    <a asp-controller="Crypto" asp-action="Sell"
                       asp-route-coinId="@e.Currency.ID">
                        Sell
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>