@model IEnumerable<AccountType>

@{
    ViewData["Title"] = "AccountTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="content__title">
    <h1>Savings Types</h1>
</header>

<a asp-action="CreateAccountType" class="btn btn-primary btn-add--expense">Add Account Type</a>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="EditAccountType"
                                   asp-route-id="@item.ID">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>